@charset "UTF-8";

:root{
    --cor1: #13A7AD;
    --cor2: #255F61;
    --cor3: #19DAE0;
    --cor4: #66F5FA;
    --cor5: #0B5E61;
    --cor6: #010A11;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(img/background.jpg);
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.582);  
}
header{
    background-color: #010A11;
    text-align: center;
    color: var(--cor3);
}
header > img{
    display: inline-block;
}
header > p{
    display: inline-block;
    vertical-align: center;
}
nav{
    background-color: var(--cor2);
    padding: 5px;
}
nav > a{
    text-decoration: none;
    padding: 4px;
    margin: 10px;
    color: var(--cor3);
}
nav > a:hover{
    background-color: #010a11a9;
    transition: 0.6s;
    border-radius: 5px;
}
nav > div{
    display: inline-block;
    background-color: var(--cor5);
    margin-left: 300px;
    padding-left: 300px;
}
main{
    background-color: black;
    color: white;
    padding: 30px;
    margin-right: 75px;
    margin-bottom: 35px;
    margin-left: 75px;
}
main > h1, h2{
    padding-bottom: 10px;
}
main > p{
    padding-bottom: 5px;
}
footer{
    background-color: #010A11;
    color: white;
    padding: 20px;
    padding-left: 35px;
}
footer ul{
    list-style: circle;  
}
section#redes_sociais p{
    text-indent: 0;
    padding-bottom: 10px;
}
section#redes_sociais a{
    padding-bottom: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: var(--cor3);
}
section#redes_sociais a:hover{
    color: var(--cor2);
    text-decoration: wavy;
    transition: 0.6s;
}